body {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

.color-first{
    background-color: black;
    color: white;
    padding: 5px;
}

.color-second {
    background-color: yellowgreen;
    padding: 5px;
}


.table {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin-left: 235px; */
}

.table ul li{
    list-style: none;
    padding: 10px;
    display: inline-block;
    background-color: black;
    color: white;
}

.table ul li a{
    text-decoration: none;
    color: white;
}

.table ul li a:hover{
    color: yellowgreen;
}

.code {
    font-size: 18px;
    font-weight: 500;
    text-align: left;

}